.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border: 0;
}

.st-toast-close-btn {
	border: unset;
	background: unset;
}

body {
	min-height: 75rem;
	padding-top: 4.5rem;
}